<div class="container">
  <h3 mat-dialog-title>Delete Driver</h3>
  <div mat-dialog-content>
    Vendor Name: {{data.vendorName }}
    <p></p>
    Sub Contractor: {{data.subContractor}}
    <p></p>
    driverName: {{data.driverName }}
    <p></p>
    nationalId: {{data.nationalId}}
    <p></p>
    licenseType: {{data.licenseType}}
    <p></p>
    licenseExpiryDate: {{data.licenseExpiryDate | date: 'dd/MM/yyyy' }}
    <p></p>
    phoneNumber: {{data.phoneNumber }}
    <p></p>
    medicalExaminationDate: {{data.medicalExaminationDate | date: 'dd/MM/yyyy'}}
    <p></p>
    drugTestDate: {{data.drugTestDate | date: 'dd/MM/yyyy' }}
    <p></p>
    defensiveDriving: {{data.defensiveDriving }}
    <p></p>
    hiringDate: {{data.hiringDate | date: 'dd/MM/yyyy' }}
    <p></p>
    warningLetter1: {{data.warningLetter1}}
    <p></p>
    warningLetter2: {{data.warningLetter2}}
    <p></p>
    terminationDate: {{data.terminationDate | date: 'dd/MM/yyyy' }}
    <p></p>
    status: {{data.status }}
    <p></p>
    Comment: {{data.comment}}
    <p></p>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="confirmDelete()">Delete</button>
    <button mat-raised-button color="warn" (click)="cancel()" tabindex="-1">Cancel</button>
  </div>
</div>
