<div class="container">
    <h3 mat-dialog-title>Vehicle Information</h3>
    <div mat-dialog-content>
      Vendor Name: {{data.vendorName }}
      <p></p>
      Sub Contractor: {{data.subContractor}}
      <p></p>
      Type: {{data.type }}
      <p></p>
      Brand: {{data.brand}}
      <p></p>
      Model: {{data.model}}
      <p></p>
      Year: {{data.year }}
      <p></p>
      Characters: {{data.characters }}
      <p></p>
      Numbers: {{data.numbers}}
      <p></p>
      Plate Number: {{data.plateNumber }}
      <p></p>
      Expiry Date: {{data.expiryDate | date: 'dd/MM/yyyy'}}
      <p></p>
      Latest Maintenance Date: {{data.latestMaintenanceDate | date: 'dd/MM/yyyy' }}
      <p></p>
      Maintenance KM: {{data.maintenanceKM}}
      <p></p>
      Tyre Change Date: {{data.tyreChangeDate | date: 'dd/MM/yyyy'}}
      <p></p>
      Tyre Change KM: {{data.tyreChangeKM }}
      <p></p>
      Next Tyre Change KM: {{data.nextTyreChangeKM }}
      <p></p>
      GPS Link: {{data.gpsLink}}
      <p></p>
      Username: {{data.username }}
      <p></p>
      Password: {{data.password}}
      <p></p>
      Last Seen Date: {{data.lastSeenDate | date: 'dd/MM/yyyy'}}
      <p></p>
      Comment: {{data.comment}}
      <p></p>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button color="warn" (click)="cancel()" tabindex="-1">Cancel</button>
    </div>

  </div>
